@import url(https://fonts.googleapis.com/css?family=Poppings);

body {
  margin: 0;
  font-family: "Poppings";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
